.contactcontainer {
  width: 1200px;
  height: 500px;
  margin: auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul {
  padding: 10px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
}

li {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 0.5fr;
  border-bottom: white 1px solid;
}

li.row span,
li.row a {
  color: white;
  padding: 10px;
  /* border: white 1px solid; */
}
li.row a {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
li.header {
  color: black !important;
  background-color: lightgrey !important;
  padding: 5px;
}

.paging {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-self: space-around;
  align-self: center;
}

/* .paging-detail {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-self: 
} */
